#authentication {
    padding: 50px 0;
    text-align: center;
}

.auth-btn {
    background-color: chartreuse;
    color: darkblue;
    font-size: 22px;
    padding: 5px 20px;
    margin-left: 20px;
}

.username, .userphoto, .useremail {
    margin-left: 20px;
    margin-top: 20px;
}
.username {
    font-size: 36px;
}
